In [3]:
import numpy as np
import pandas as pd

In [6]:
original = pd.read_excel("C:/Users/milos/Downloads/2023_public_lar_csv/2023_public_lar_csv.xlsx")
original.head()

,activity_year,lei,derived_msa_md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,Approved (1 = Yes) (Base)
0,2023,549300JOT0D4J0SZIK67,29460,FL,12105.0,1.210501e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,2570,43.15,74300,111.11,441,716,25,1
1,2023,549300JOT0D4J0SZIK67,29820,NV,32003.0,3.200300e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,7043,56.92,83900,109.65,1383,2057,15,1
2,2023,549300JOT0D4J0SZIK67,49420,WA,53077.0,5.307700e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,3044,19.02,76600,131.97,1031,1288,35,1
3,2023,549300JOT0D4J0SZIK67,28140,KS,20091.0,2.009105e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,4079,10.17,104400,166.18,1240,1341,37,1
4,2023,549300JOT0D4J0SZIK67,28420,WA,53005.0,5.300501e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,9675,26.74,101700,128.98,2474,2688,15,1

In [7]:
columns = ['lei', 'derived_msa_md', 'state_code', 'county_code', 'census_tract',
       'conforming_loan_limit', 'derived_loan_product_type',
       'derived_dwelling_category', 'derived_ethnicity', 'derived_race',
       'derived_sex', 'purchaser_type', 'loan_type', 'loan_purpose',
       'loan_amount', 'combined_loan_to_value_ratio', 'property_value',
       'income', 'debt_to_income_ratio', 'applicant_age', 'tract_population',
       'tract_minority_population_percent',
       'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units', 'Approved (1 = Yes) (Base)']

In [9]:
# get a random sample of 100_000 rows from original for the columns in columns 
sample = original.sample(n=100_000, random_state=1)[columns]
# save the sample to a new csv file
sample.to_excel("C:/Users/milos/OneDrive/Data_Ethics_repo/DATA_259_Project/Data/sample.xlsx", index=False)